

h1 {
    color: #ff9999 ;
    background-color: #666699;
    font-size: 50px;
    text-decoration: underline;
    text-align: center ;
}

.header nav ul li {

    color: lightgray;
    display: inline ;
    margin-left: 75%;
    
}

a {
    color: #ff9999;
    display: inline;
    font-size: 20px;
}

nav {
    float: left;
}